{% load i18n staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
	<!--<link rel="icon" href="../../favicon.ico">-->

	<title>{% block title %} First Page {% endblock %}</title>

	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css'%}">
	<link rel="stylesheet" href="{% static 'jquery-ui-1.11.4/jquery-ui.min.css'%}">

	<!-- jquery, bootstrap, jquery-ui, d3, crossfilter, dc -->
	<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'jquery-ui-1.11.4/jquery-ui.min.js'%}"></script>


	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{%static 'pathogenSite/css/dashboard.css'%}">

  {% block style %}{% endblock %}	  
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					<a class="navbar-brand" href="{% url 'ezbio-intro' %}">Pathogen DB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">{{ request.user }}</a></li>
						<li><a href="{% url 'logout' %}">logout</a></li>
            <li><a href="#">Help</a></li>
					</ul>
					<!--
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
					</form>
					-->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
	  <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
		  <li class="pathogen_list"><a href="{% url 'pathogen' %}">Pathogen List</a></li>
		  <li class="sample_list"><a href="{% url 'sample' %}">Sample List</a></li>
		  <li class="sample_upload"><a href="{% url 'sample-upload' %}">Sample Upload</a></li>
		  <!--
		  <li class="report_test"><a href="{% url 'report' %}">Report Test</a></li>
		  <li class="dc_test"><a href="{% url 'test' %}">DC Test</a></li>
		  -->
        </ul>
      </div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% block content %}
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

	    {% endblock %}
        {% block pagination %}
        {% if is_paginated %}
        <div class="pagination">
          <span class="page-links">
            {% if page_obj.has_previous %}
						<a href="?{{ prev_url }}&page={{ page_obj.previous_page_number }}">
              previous
            </a>
            {% endif %}
            <span class="page-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
						<a href="?{{ prev_url }}&page={{ page_obj.next_page_number }}">
							next
						</a>
            {% endif %}
          </span>
        </div>
        {% endif %}
        {% endblock %}
        </div>
      </div>
	</div>

	<script>
		$(document).ready(function(){
			var clickedNav = '.{{ clicked_nav }}';
			$(clickedNav).addClass('active');
		});
	</script>
		{% block script %}{% endblock %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
	<!--
    <script src="../../assets/js/vendor/holder.js"></script>
	-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<!--
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	-->
  </body>
</html>


