{% extends "pathogenSite/base.html" %}

{% block title %}Introduction Page{% endblock %}
{% block content %}
<div>
	<form>
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="submit">
	</form>
</div>
<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th class="resize">ID</th>
				<th>Name</th>
				<th>Pathogen Human</th>
			</tr>
		</thead>
		<tbody>
			{% for pathogen in pathogen_list %}
			<tr>
				<td class="uid">
					<a href = "{% url 'pathogen_detail' pathogen.uid %}">
						{{ pathogen.uid }}
					</a>
				</td>
				<td>{{ pathogen.name }}</td>
				<td>{{ pathogen.pathogen_human }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>


{% endblock %}
{% block javascript %}
<script>
$(function(){
	$('table th').resizable();
});
$("tr").dblclick(function(e){
	console.log($(this).find('td.uid'));
});	
</script>
{% endblock %}
