{% extends "pathogenSite/base.html" %}

{% block title %}Introduction Page{% endblock %}


{% block content %}
<div class="table-responsive">
	<form method="post" action="{% url 'sample-analysis' %}">
	{% csrf_token %}
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Owner</th>
				<th>File</th>
			</tr>
		</thead>
		<tbody>
			{% for sample in sample_list %}
			<tr>
				<td><input type="checkbox" id="sample" name="sample" value='{ "path": "{{ sample.clc_file.file.file.name }}", "name": "{{ sample.name}}" }'></td>
				<td class="uid"><a href="{% url 'sample-analysis'%}">
						{{ sample.name }}</a>
				</td>
				<td>{{ sample.owner.username }}</td>
				<td>{{ sample.name }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<button class="btn btn-success" type="submit">Analysis</button>
	</form>
</div>
{% endblock %}
